!!!
%html
  %head
    %title 手機館首頁
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi-style-0.1.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/sogi_member.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #topbar
      .channelList
        %a{:href => "#", :target => "_blank"} 手機王
        ｜
        %a{:href => "#", :target => "_blank"} Windows Phone
        ｜
        %a{:href => "#", :target => "_blank"} Android
        .loginClub
          %a{:href => "#", :target => "_blank"} 註冊新會員
          ｜
          %a{:href => "#", :target => "_blank"} 登入
    #container
      .sHead.bw
        .top
          .sogiLogo
            %a.logo{:href => "#", :target => "_blank"} 手機王 LOGO
          .shopNavArea
            .shopNav-1
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                Ovi商店
            .shopNav-2
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                手機單購
            .shopNav-3
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                線上購物
            .shopNav-4
              %a{:href => "#", :target => "_blank"}
              .icon
              .name
                下載服務
        .mainNav
          %ul
            %li.on
              %a
                手機
            %li
              %a
                電信
            %li
              %a
                平板電腦
            %li
              %a
                詢價
            %li
              %a
                討論
            %li
              %a
                精選文章
            %li
              %a
                公益
            %li
              %a
                簡訊
        .mainSubNav
          %ul
            %li
              %a
                NOKIA
              |
            %li
              %a
                SAMSUNG
              |
            %li
              %a
                Sony Ericsson
              |
            %li
              %a
                LG
              |
            %li
              %a
                HTC
              |
            %li
              %a
                MOTO
              |
            %li
              %a
                Acer
              |
            %li
              %a
                PULID
              |
            %li
              %a
                Garmin-Asus
              |
            %li
              %a
                Sharp
              |
            %li
              %a
                GIGABYTE
              |
            %li
              %a
                Altek
              |
            %li
              %a
                Apple
              |
            %li
              %a
                BlackBerry
              |
            %li
              %a
                更多...
      .fullPromo.bw
        .breadNav
          .icon
          .bNav
            %a{:href => "#", :title => "\346\211\213\346\251\237\347\216\213"}
              手機王
            >
            %span.here
              手機
        .textAd
          %ul
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
            %li
              %a{:href => "#", :target => "_blank", :title => "\345\273\243\345\221\212"}
                iPhone最高省3000送雙色邊框
        .AD970.ADin
          %a{:href => "#", :title => "\345\273\243\345\221\212"}
            %img{:src => "images/www/ad970.gif"}/
      .bw.mg
        .bwl
          .Mfootermain
            .Mnav
              .Mtabs{:style => "width:690px;"}
                .Mtab
                  %a{:href => "#", :title => "\351\246\226\351\240\201"}
                    首頁
                .Mtab
                  %a{:href => "#", :title => "\346\234\203\345\223\241\350\263\207\346\226\231"}
                    會員資料
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\346\234\200\346\204\233"}
                    我的最愛
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\345\234\226\345\272\253"}
                    我的圖庫
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\250\212\346\201\257"}
                    我的訊息
                .Mtab
                  %a{:href => "#", :title => "\346\210\221\347\232\204\350\215\211\347\250\277"}
                    我的草稿
                .Mtab.on
                  %a{:href => "#", :title => "\346\234\203\345\223\241\346\254\212\347\233\212"}
                    會員權益
                .Mtab
                  %a{:href => "#", :title => "\347\264\205\345\210\251\350\264\210\345\223\201"}
                    紅利贈品
                .Mtab
                  %a{:href => "#", :title => "\346\264\273\345\213\225\345\260\210\345\215\200"}
                    活動專區
              .MtabsEnd
            .Mdatas
              .MdataUp
                .MdataTabs
                  .MdataTab
                    %a{:href => "http://www.sogi.com.tw/newforum/article_list.aspx?topic_ID=6094226", :target => "_blank"} 服務條款
                  .MdataTab
                    %a{:href => "http://www.sogi.com.tw/newforum/article_list.aspx?topic_ID=6094227", :target => "_blank"} 討論區規範
                  .MdataTab.Mon
                    %a{:href => "#"} 會員基本權益
                  .MdataTab
                    %a{:href => "#"} S幣與經驗植
              .MdataDown
                %form#aspnetForm{:action => "profit_ruleBasic.aspx", :method => "post", :name => "aspnetForm"}
                  %div
                    %input#__VIEWSTATE{:name => "__VIEWSTATE", :type => "hidden", :value => "/wEPDwULLTEwMDUyNjYzMjgPZBYCZg9kFgQCAw8PFgIeBFRleHQFT+S9oOeahOS9jee9ru+8mlNvZ2kgLyA8YSBocmVmPSdpbmRleC5hc3AnPuacg+WToeS4reW/gzwvYT4gLyDmnIPlk6Hln7rmnKzmrIrliKlkZAIPDxYEHgVjbGFzcwUJbWVudWNsaWNrHglpbm5lcmh0bWwFIg0KICAgICAgICAgICAgICAgICAgICDmnIPlk6HmrIrnm4pkZKIXPCokN2yVAA8aw/oQ6bBVisVa"}/
                  #pr_top
                    %p 會員基本權益
                  #Benefitspr_box
                    %table.club{:align => "center", :border => "1", :cellpadding => "3"}
                      %colgroup
                        %col{:width => "20%"}/
                        %col{:width => "16%"}/
                        %col{:width => "16%"}/
                        %col{:width => "16%"}/
                        %col{:width => "16%"}/
                        %col{:width => "16%"}/
                      %tbody
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 身分
                          %td{:bgcolor => "#E4F4F8"}
                            %p 資深會員 (C)
                          %td{:bgcolor => "#EBF7FA"}
                            %p 進階會員 (B)
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p 初階會員 (A)
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p 新進會員 (0)
                          %td{:width => "87"}
                            %p 訪客
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 取得資格
                          %td{:bgcolor => "#E4F4F8"}
                            %p 經驗值1000以上
                          %td{:bgcolor => "#EBF7FA"}
                            %p 經驗值300以上
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p 通過認證
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p 未認證
                          %td{:width => "87"}
                            %p 未登入
                        %tr
                          %td{:colspan => "6"}
                            %p
                              %strong 搜尋
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %ul
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;產品簡易搜尋
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;文章搜尋
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:width => "87"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                        %tr
                          %td{:colspan => "6"}
                            %p
                              %strong 文章
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 發表文章
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %ul
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;補充自己文章
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;文章回覆
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;引用回覆
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 修改自己文章
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p &nbsp;
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 分頁功能
                          %td{:bgcolor => "#E4F4F8"}
                            %p &nbsp;
                          %td{:bgcolor => "#EBF7FA"}
                            %p &nbsp;
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p &nbsp;
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 文章建議收錄
                          %td{:bgcolor => "#E4F4F8"} &nbsp;
                          %td{:bgcolor => "#EBF7FA"} &nbsp;
                          %td{:bgcolor => "#F0F9FB"} &nbsp;
                          %td{:bgcolor => "#F7FCFD"} &nbsp;
                          %td &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 文章評分(鼓勵、負評)
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 我的圖庫
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p &nbsp;
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 圖片上傳
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              無限制
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              限制：100張/天
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              限制：50張/天
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:colspan => "6"}
                            %p
                              %strong 偏好設定
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 訂閱電子報
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                        %tr
                          %td{:colspan => "6"}
                            %p
                              %strong 紅利點數
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %ul
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;點數累積
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;商品兌換
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F7FCFD", :width => "87"}
                            %p &nbsp;
                          %td{:width => "87"}
                            %p &nbsp;
                  .spacer
                  #pr_top
                    %p 管理員權限
                  #Benefitspr_box
                    %table.club{:align => "center", :border => "1", :cellpadding => "3"}
                      %colgroup
                        %col{:width => "20%"}/
                        %col{:width => "20%"}/
                        %col{:width => "20%"}/
                        %col{:width => "20%"}/
                        %col{:width => "20%"}/
                      %tbody
                        %tr
                          %td{:bgcolor => "#FEF8CB", :width => "161"}
                            %p 身分
                          %td{:bgcolor => "#CDEBF1", :width => "77"}
                            %p 頻道館主
                          %td{:bgcolor => "#E4F4F8", :width => "191"}
                            %p 頻道站務
                          %td{:bgcolor => "#EBF7FA", :width => "293"}
                            %p 版主
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p 副版主
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 取得資格(缺一不可)
                          %td{:bgcolor => "#CDEBF1"}
                            %p 經站方聘請
                          %td{:bgcolor => "#E4F4F8"}
                            %ul
                              %li 經驗值1000以上
                              %li 現任站務半數以上支持
                              %li 經館主審核並同意
                          %td{:bgcolor => "#EBF7FA"}
                            %ul
                              %li 經驗值60以上
                              %li 自我推薦
                              %li 一位以上站務審核同意
                              %li 經館主審核並同意
                              %li 經驗值500以上，每人至多管理6個討論版
                              %li 經驗值500以下，每人至多管理3個版
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %ul
                              %li 經驗值60以上
                              %li 自我推薦
                              %li 經該版主審核同意
                              %li 每版最多三名
                              %li 經驗值500以上，每人至多管理6個討論版
                              %li 經驗值500以下，每人至多管理3個版
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 取消資格
                          %td{:bgcolor => "#CDEBF1"}
                            %p 經站方取消聘請
                          %td{:bgcolor => "#E4F4F8"}
                            %ul
                              %li 經頻道館主取消資格
                              %li
                                經館主或站務查證並無管理版務行為
                                %font{:color => "#ff000"} *註一
                              %li
                                網友至服務中心投訴，並經館主與站務受理且經查證有不當行為屬實，累計次數三次即取消資格
                                %font{:color => "#ff000"} *註一
                          %td{:bgcolor => "#EBF7FA"}
                            %ul
                              %li
                                經頻道館主與站務審核取消資格
                                %font{:color => "#ff000"} *註一
                              %li
                                網友至服務中心投訴，並經館主與站務受理且經查證有不當行為屬實，累計次數三次即取消資格
                                %font{:color => "#FF0000"} *註一
                              %li
                                經館主或站務查證並無管理版務行為
                                %font{:color => "#FF0000"} *註一
                          %td{:bgcolor => "#F0F9FB"}
                            %ul
                              %li 經版主審核取消資格
                              %li
                                網友至服務中心投訴，並經館主與站務受理且經查證有不當行為屬實，累計次數三次即取消資格
                                %font{:color => "#FF0000"} *註一
                              %li
                                經館主或站務查證並無管理版務行為
                                %font{:color => "#FF0000"} *註一
                        %tr
                          %td{:colspan => "5"}
                            %p
                              %strong 文章管理權限
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 發表、修改、刪除自已文章
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 分頁功能
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"} &nbsp;
                          %td{:bgcolor => "#EBF7FA"} &nbsp;
                          %td{:bgcolor => "#F0F9FB"} &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %ul
                              %li
                                \&nbsp;&nbsp;&nbsp;•&nbsp;刪除他人文章
                                %br/
                                (內容刪除，發文者扣經驗值10，版主、副版主僅可刪除本版文章)
                              %li
                                \&nbsp;&nbsp;&nbsp;•&nbsp;被刪文章回復
                                %br/
                                (
                                發文者經驗值恢復)
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;刪除、復原回應文
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              %br/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              = succeed "\351\231\220\346\234\254\347\211\210" do
                                %br/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %br/
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %ul
                              %li &nbsp;&nbsp;&nbsp;•&nbsp;文章建議收錄
                              %li
                                \&nbsp;&nbsp;&nbsp;•&nbsp;檢舉文章
                                %br/
                                (被檢舉文章列入爭議區)
                              %li
                                \&nbsp;&nbsp;&nbsp;•&nbsp;鎖定文章
                                %br/
                                (被鎖定的文章即無法回應)
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              = succeed "\351\231\220\346\234\254\347\211\210" do
                                %br/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              = succeed "\351\231\220\346\234\254\347\211\210" do
                                %br/
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 文章評分（鼓勵、負評）
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 我的圖庫
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 圖片上傳(不限)
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                        %tr
                          %td{:colspan => "5"}
                            %p
                              %strong 討論區管理權限
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 新增、修改、隱藏討論版
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              = succeed "\347\266\223\347\253\231\346\226\271\345\220\214\346\204\217\345\215\263\345\217\257\345\237\267\350\241\214" do
                                %br/
                          %td{:bgcolor => "#E4F4F8"} &nbsp;
                          %td{:bgcolor => "#EBF7FA"} &nbsp;
                          %td{:bgcolor => "#F0F9FB"} &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 編輯版主公告
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              = succeed "\351\231\220\346\234\254\347\211\210" do
                                %br/
                          %td{:bgcolor => "#F0F9FB"} &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 版主站務討論區
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#F0F9FB", :width => "116"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p
                              頻道置頂
                              %br/
                              (經站方同意即可執行，
                              最多三則置頂)
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"} &nbsp;
                          %td{:bgcolor => "#EBF7FA"} &nbsp;
                          %td{:bgcolor => "#F0F9FB"} &nbsp;
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p
                              本版置頂
                              %br/
                              (最多十則置頂)
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              限本版
                          %td{:bgcolor => "#F0F9FB"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              限本版
                        %tr
                          %td{:colspan => "5"}
                            %p
                              %strong 會員管理權限
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p
                              停權處分
                              %br>/
                              (經站方同意即可執行)
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"} &nbsp;
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"} &nbsp;
                          %td{:bgcolor => "#F0F9FB"}
                            %p{:align => "center"} &nbsp;
                        %tr
                          %td{:colspan => "5"}
                            %p
                              %strong 我的最愛
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 文章追蹤
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              100篇
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              100 篇
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              50 篇
                          %td{:bgcolor => "#F0F9FB"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              50 篇
                        %tr
                          %td{:bgcolor => "#FEF8CB"}
                            %p 訂閱討論版
                          %td{:bgcolor => "#CDEBF1"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              50 個
                          %td{:bgcolor => "#E4F4F8"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              50 個
                          %td{:bgcolor => "#EBF7FA"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              30 個
                          %td{:bgcolor => "#F0F9FB"}
                            %p{:align => "center"}
                              %img{:src => "imgs/yes.gif"}/
                              %br/
                              30 個
                        %tr
                          %td{:colspan => "5"}
                            註一：
                            %br/
                            由現任站務人數 2/3 名額 + 該館館主一同表決投票 ，過半數則表示通過。
          .AD720.mg
            %img{:src => "images/www/samples/sample-img-8.jpg"}/
        .bwr
          .AD240
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.compare.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\350\273\212\346\213\274"}
                  熱門車拼
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
              %li
                %a{:href => "#", :title => "\350\273\212\346\213\274 - HTC Desire HD"}
                .comparePd
                  %img.pdImg{:src => "images/www/samples/sample-img-4.jpg"}/
                  .title
                    HTC Desire HD
                .btn.red
                  %a{:href => "#", :title => "\345\210\252\351\231\244\350\273\212\346\213\274"}
                    刪除車拼
            .goCompare
              %a{:href => "#", :title => "\345\211\215\345\276\200\350\273\212\346\213\274"}
                前往車拼
          .searchPromo.mg
            .tabs
              .tab.on
                %a{:href => "#", :title => "\346\211\276\346\211\213\346\251\237"}
                  找手機
              .tab
                %a{:href => "#", :title => "\346\211\276\345\271\263\346\235\277"}
                  找平板
            .tabsEnd
            .search{:style => "display:block;height:270px;"}
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .adPromo.sgPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\347\206\261\351\226\200\346\220\234\345\260\213\346\242\235\344\273\266"}
                  熱門搜尋條件
            .oneTabEnd
            .collection
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
              .cName
                依相機畫素
              %ul
                %li
                  %a{:href => "#", :title => "500\350\220\254\347\225\253\347\264\240\344\273\245\344\270\212"}
                    500萬畫素以上
                %li
                  %a{:href => "#", :title => "300~499\350\220\254\347\225\253\347\264\240"}
                    300~499萬畫素
                %li
                  %a{:href => "#", :title => "\347\204\241\347\233\270\346\251\237~299\350\220\254\347\225\253\347\264\240"}
                    無相機~299萬畫素
            %a{:href => "#", :title => "\351\200\262\351\232\216\346\220\234\345\260\213"}
            .more
              進階搜尋
              %img{:src => "images/www/sogi-arrow-3.gif"}/
          .AD240.mg
            %a{:href => "#", :title => "\345\273\243\345\221\212"}
              %img{:src => "images/www/ad240.gif"}/
          .adPromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\350\263\207\350\250\212\346\203\205\345\240\261"}
                  資訊情報
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
          .adPromo.sideStorePromo.mg
            .oneTab
              .tab.on
                %a{:href => "#", :title => "\345\245\275\350\251\225\345\272\227\351\213\252"}
                  好評店鋪
            .oneTabEnd
            %ul
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
              %li
                %a{:href => "#", :title => "Android \350\273\237\351\253\224"}
                  %img.softImg{:src => "images/www/samples/sample-img-1.jpg"}/
                .title
                  Android 軟體
                .desc
                  多工處理超強，網頁瀏覽超級快，玩遊...
    #footer
      .list
        關於手機王 | 網路行銷 | 廣告刊登 | 聯絡我們 | 服務條款 | 隱私權政策 | 法律顧問 | 技術合作 | 首機網路股份有限公司 © 1999-2011 All rights reserved.
        %p
          本網站已依台灣網站內容分級規定處理
